## Extracting specified date values from CSV

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
#read the test csv file 
df=pd.read_csv('test_csv/rjbdr6m6w_v2.csv')

In [3]:
df.columns

Index(['date', 'pc_wet', 'px_wet'], dtype='object')

### Date of last satellite pass
This function is designed to return the most recent date the satellite last passed over a give waterbody.

In [ ]:
def last_sat_pass(df):
    df.sort_values(by='date', inplace=True, ascending=True)# ensures date values are in ascending order
    return df['date'].iloc[-1]# returns the date last passed

In [ ]:
last_sat_pass(df)

### Date of last valid water observation
This function is designed to return the most recent date that a valid water observation was recorded over a given waterbody.

In [ ]:
def last_wet_obs(df):
    df.sort_values(by='date', inplace=True, ascending=True)# ensures date values are in ascending order
    last_wet_obs=df.dropna(subset=['pc_wet','px_wet'], how='all')# drops nan values in 'pc_wet' 'px_wet' columns
    return last_wet_obs['date'].iloc[-1]# returns the last valid observation

In [ ]:
last_wet_obs(df)

### Surface area of last valid observation 
This function is designed to return the most recent surface area for a valid water observation.

In [19]:
def pc_wet(df, area_value):
    df.sort_values(by='date', inplace=True, ascending=True)# ensures date values are in ascending order
    last_wet_obs=df.dropna(subset=['pc_wet','px_wet'], how='all')# drops nan values in 'pc_wet' 'px_wet' columns
    last_pc_wet_obs= (area_value*last_wet_obs['pc_wet'].iloc[-1])/100 #select the last valid obs in 'pc_wet'
    return last_pc_wet_obs# returns the last valid observation

In [20]:
area = 4500
pc_wet(df, area)

900.0

In [17]:
def px_wet(df):
    df.sort_values(by='date', inplace=True, ascending=True)# ensures date values are in ascending order
    last_wet_obs=df.dropna(subset=['pc_wet','px_wet'], how='all')# drops nan values in 'pc_wet' 'px_wet' columns
    last_pc_wet_obs= 30*30*last_wet_obs['px_wet'].iloc[-2] #select the last valid obs in 'pc_wet'
    return last_pc_wet_obs# returns the last valid observation

In [18]:
px_wet(df)

900.0